body{
    background-color: rgb(211, 245, 255);
}
.form{
    display: flex;
    gap: 10px;
    margin-top: 40px;
    justify-content: center;
}
.form input{
    border: none;
    padding: 10px;
    background-color:  #FFFFFF
}
.form button{
    background-color: #4CAF50;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    color:#FFFFFF;
}
.weather-cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;    
}
.weather-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
}